<div class="container">
    <div style="text-align:center; padding:10px;">
        <h3>Editar producto</h3>
    </div>
    <form class="row g-3" action="/admin/productos/editar" method="post">
    <input type="hidden" value="{{producto.id}}" name="id">
    <div class="col-12">
        <label for="inputTitulo" class="form-label">Título</label>
        <input type="text" class="form-control" id="inputTitulo" name="titulo" value="{{producto.titulo}}">
    </div>
    <div class="col-12">
        <label for="inputDescripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="inputDescripcion" rows="3" name="descripcion">
            {{producto.descripcion}}
        </textarea>
    </div>
    <div class="col-12">
        <label for="inputTipo" class="form-label">Tipo Objeto</label>
        <input type="text" class="form-control" id="inputTipo" name="tipo_objeto" value="{{producto.tipo_objeto}}">
    </div>
    <div class="col-12">
        <label for="inputPrecio" class="form-label">Precio</label>
        <input type="nomber" class="form-control" id="inputPrecio" name="precio" value="{{producto.precio}}">
    </div>
    <div class="col-12">
        <label for="formFile" class="form-label">Seleccionar imagen</label>
        <input class="form-control" type="file" id="formFile" name="link_imagen" value="{{producto.link_imagen}}">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-secondary">Modificar</button>
    </div>
    </form>
    {{#if error}}
    <h5 style="color:red;">{{message}}</h5>
    {{/if}}
</div>